

.container{
		width:1330px;
		height:1900px;
		border:10px;
		padding:5px;
		display: absolute;
		
		
	}
body{
	
}

caption {
	background-color: darkred;
	color: white;
	text-align: center;
	font-family: Arial;
}
		


	table {
         
	  width: 100%;
     
    }
    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        
    }
	
	td {
		text-indent: 110px;
		
		
	}
    th {
        background-color: darkred;
    }
    input {
        width: 30px;
    }
	tf {
		background-color: darkred;
		color: white;
	}
	h1 {
		text-align: center;
		
	}
	button {
	align: center;
	font-family: verdana;
	font-size: 30px;
	}
	
	img{
		align-content: center;
	}