		.resume-header {
            text-align: left;
            margin-bottom: 20px;
        }

        .resume-header h2 {
            margin-bottom: 5px;
        }

        .resume-section {
            margin-bottom: 20px;
        }

        .resume-section h3 {
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        .indent {
            text-indent: 50px;
        }

        .contact-info p {
            margin: 0;
        }

        .signature {
            text-align: right;
            margin-top: 30px;
        }

        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
        }

        .profile-img-container {
            text-align: right;
        }


